!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Form not found!
    - css_path = static_path(@conn, "/css/app.css")
    %link{href: "#{css_path}", rel: "stylesheet"}
  %body
    .container{role: "main"}
      = render @view_module, @view_template, assigns
